.cv__content{
    width: 80%;
    margin: 0 auto;
    z-index: 20;
    top:0;
    height: 100%;
    overflow: scroll;
    display: grid;

    &>p{
        margin-top: 0;
        font-size: 50px;
        color:white;
    }
}
